<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist.x64" version="3.2062.1898" targetFramework="net45" />
  <package id="cef.redist.x86" version="3.2062.1898" targetFramework="net45" />
  <package id="CefSharp.Common" version="37.0.0-CI442" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="37.0.0-CI442" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
</packages>