<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="cef.redist" version="3.1750.1738" targetFramework="net45" />
  <package id="CefSharp.Common" version="33.0.2" targetFramework="net45" />
  <package id="CefSharp.WinForms" version="33.0.2" targetFramework="net45" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net45" />
</packages>