/* Clean up unnecessary elements from 'Sign In' pages. */

header .header_links {
    display: none !important;
}

#page {
    min-height: 0 !important;
}

#page_contents {
    padding-bottom: 0 !important;
}

#page_contents > .align_center:last-child {
    display: none !important;
}

/* Remove Switch Team & Logout menu items. */

#menu #add_team {
    display: none !important;
}

#menu #logout {
    display: none !important;
}

#menu_items > .divider:nth-last-child(2) {
    display: none !important;
}
